[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Iran map in svg format (clickable areas)
[access "refs/*"]
	owner = group user/Alireza Akrami (akrami)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alireza Akrami (akrami)
	label-Verified = -1..+1 group user/Alireza Akrami (akrami)
	push = group user/Alireza Akrami (akrami)
	read = group user/Alireza Akrami (akrami)
	rebase = group user/Alireza Akrami (akrami)
	removeReviewer = group user/Alireza Akrami (akrami)
	submit = group user/Alireza Akrami (akrami)
[access "refs/heads/*"]
	create = group user/Alireza Akrami (akrami)
	push = +force group user/Alireza Akrami (akrami)
	pushMerge = group user/Alireza Akrami (akrami)
	read = group user/Alireza Akrami (akrami)
[access "refs/tags/*"]
	push = group user/Alireza Akrami (akrami)
	push = +force group user/Alireza Akrami (akrami)
